body 
{
		background-color:black;
		font-family:arial;
		color:rgb(255,255,255);
}
h1
{
	color:rgb(69,69,69);
	font:verdana;
}
 .maindiv
 {
		background-color:rgb(0,255,0);
		font-family:arial;
		color:black;
		width:300px;
		padding: 20px;
		margin-left:600px;
		margin-top:200px;
        border-radius: 25px;
		border-color:blue;
        text-align: center;
 }		
footer
{
	margin-top: 10px;
	margin-left:620px;
}